/* general settings */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #f6f8f9;
}

header {
    background-color: white;
    padding: 20px 30px;
}

/* title and logo */


.logo {
    height: 50px;
    width: 50px;
    vertical-align: middle;
    }

.title {
    display: inline;
    vertical-align: middle;
}

/* main content */
.container {
    width: 80%;
    height: 80%;
    margin: 50px auto;
    background-color: white;
    border-radius: 10px;
    padding: 30px 10%;
}

/* button settings */
.button {
    border-radius: 5px;
    padding: 5px;
}

.addtask {
    color: white;
    background-color: #47adf1;
    border-color: #47adf1;
}

.addsect{
    color: #d0d4d8;
    border-color: #d0d4d8;
}

/* check and uncheck settings */
.check {
    color: #6cc4ae;
    border: 2px solid #6cc4ae;
    border-radius: 50%;
    padding: 2px 4px;
}

.uncheck {
    color: #ec1212;
    border: 2px solid #ec1212;
    border-radius: 50%;
    padding: 2px;
}

/* tag settings */
.tag {
    border-radius: 10px;
    color: white;
    font-size: 12px;
    padding: 8px;
}

.blue {
    background-color: #45abe9;
}

.violet {
    background-color: #9c72e4;
}

.green {
    background-color: #65c0a9;
}

.orange {
    background-color: #f29e33;
}

.pink {
    background-color: #d863a1;
}

.lime {
    background-color: #b0c928;
}