/* general settings */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-weight: bold;
}
body {
    background-color: #f6f8f9;
}

section {
    margin: 50px 0;
}

/* title and logo */

header {
    height: 100px;
    background-color: white;
    padding: 20px 30px;
}

.logo {
    height: 100%;
    vertical-align: middle;
    }

.title {
    display: inline;
    vertical-align: middle;
    font-size: 36px;
}

/* main content */
.container {
    width: 80%;
    margin: 50px auto;
    background-color: white;
    border-radius: 10px;
}


/* button settings */
nav {
    height: 50px;
    padding: 0 50px;
    border-bottom: 2px solid #f6f8f9;
    line-height: 50px;
}

button {
    border-style: solid;
    border-radius: 5px;
    padding: 5px;
}

.addtask {
    color: white;
    background-color: #47adf1;
    border-color: #47adf1;
}

.addsect{
    color: #d0d4d8;
    border-color: #d0d4d8;
    background-color: white;
}

/* check and uncheck settings */
.circle::before {
    border: 2px solid;
    border-radius: 50%;
}

.circle.check::before {
    content: "\2713";
    color: #6cc4ae;
    padding: 1px 2px;
}

.circle.uncheck::before {
    content: "\2717";
    color: #ec1212;
    padding: 2px;
}

/* task settings */
.tasks {
    padding: 0 50px;
    margin-top: 30px;
}

.tasks h2::before {
    content: '\25BE';
}

li {
    list-style: none;
    padding: 10px;
    font-size: 18px;
}

/* tag settings */
.tag::after {
    border-radius: 8px;
    color: white;
    font-size: 12px;
    padding: 5px;
}

.tag.type1::after {
    content: "Editorial";
    background-color: #45abe9;
}

.tag.type2::after {
    content: "Q1 Goals";
    background-color: #9c72e4;
}

.tag.type3::after {
    content: "Recruting";
    background-color: #65c0a9;
}

.tag.type4::after {
    content: "Mobile";
    background-color: #f29e33;
}

.tag.type5::after {
    content: "Website";
    background-color: #d863a1;
}

.tag.type6::after {
    content: "Sales";
    background-color: #b0c928;
}